:root {
    --primary: #45403a;
    --accent: #6d9f88;
    --success: #cc331d;
    --gold: #edc079;
    --silver: #b2ab9e;
    --btc: #ffa23c;
    --bg: #f9f4ec;
    --card: #ffffff;
}

html {
    font-size: 12px;
}

body {
    font-family: 'Raleway', sans-serif;
    background: var(--bg);
    color: var(--primary);
    margin: 0;
    padding: 20px;
    line-height: 1.5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--silver);
    padding-bottom: 10px;
}
.header h1 {
    font-size: 2rem;
    margin-bottom: -1rem;
}
.header p {
    color: var(--silver);
}

.title {
    text-align: center;
    margin-bottom: 10px;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.nav-button {
    border: 2px solid var(--gold);
    font-size: 1rem;
    padding: .8rem;
    border-radius: .5rem;
    background-color: var(--bg);
    font-family: Raleway, sans-serif;
    font-weight: bold;
    color: var(--primary);
    transition: all .1s ease-in-out;
}
.nav-button:hover {
    background-color: var(--gold);
    color: var(--bg);
    cursor: pointer;
}
.nav-button.selected {
    background-color: var(--gold);
    color: var(--bg);
}

.main-grid {
    display: none;
    gap: 20px;
    grid-template-columns: 350px 1fr;
}
.main-grid.selected {
    display: grid;
}

.card {
    background: var(--card);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}
.card h2 {
    font-size: 1.1rem;
    margin-top: 0;
    border-bottom: 1px solid #b2ab9e9f;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.input-group {
    margin-bottom: 12px;
    width: 100%;
}
label {
    display: block;
    font-size: 0.8rem;
    font-weight: 600;
    color: #b2ab9e;
    margin-bottom: 4px;
}
input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #b2ab9e;
    border-radius: 6px;
    font-size: 0.9rem;
    font-family: Raleway, sans-serif;
    box-sizing: border-box;
}
input {
    text-align: right;
}

.print-button {
    width: 100%;
    padding: 1rem;
    background: var(--primary);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-family: Raleway, sans-serif;
    font-size: 1.1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.85rem;
    margin-top: 10px;
}
th {
    text-align: left;
    color: var(--silver);
    font-weight: 600;
    padding: 8px;
    border-bottom: 2px solid #b2ab9e1f;
}
td {
    padding: 8px;
    border-bottom: 1px solid #b2ab9e1f;
    text-align: right;
}
td:first-child {
    text-align: left;
}
.val-bold {
    font-weight: 700;
    color: var(--accent);
}

.charts-container, .comparison-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.tables-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
}

.chart-box {
    height: 300px;
    position: relative;
}

.summary-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    margin-bottom: 20px;
}
.stat-card {
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}
.stat-card div:first-child {
    font-size: 0.8rem;
    opacity: 0.9;
}
.stat-card div:last-child {
    font-size: 1.2rem;
    font-weight: bold;
}
.card hr {
    border: none;
    border-top: 1px solid #b2ab9e9f;
    background-color: transparent;
}

.hidden {
    display: none !important;
}

.only-print {
    display: none;
}

@media print {
    .no-print {
        display: none !important;
    } 
    .only-print {
        display: block !important;
    }
    .main-grid {
        grid-template-columns: 1fr !important;
        gap: 0px !important;
    }
    .stat-card {
        background-color: white !important;
        color: var(--primary) !important;
    }
    .summary-grid {
        margin-bottom: 0 !important;
    }
    .card {
        box-shadow: none !important;
        margin-bottom: 0 !important;
        padding: 5px !important;
    }
    th, td {
        padding: 4px !important;
    }
    .title {
        margin-bottom: 0 !important;
    }
    
}